<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Ben's Mod Manager</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" runat="server" />
	<link rel="stylesheet" href="~/css/site.css" runat="server" />
	<link rel="stylesheet" href="~/css/tom-select.bootstrap5.css" runat="server" />
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>
<body class="bg-dark">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom navbar-color">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Mods" asp-action="Index">Ben's Mod Manager</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</header>
	<div class="container bg-dark">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container bg-dark text-light">
			&copy;
			<script>document.write(new Date().getFullYear())</script> · Ben's Mod Manager · <a class="text-light" href="https://github.com/BenMoat" target="_blank">Ben Moat</a>
			<a href="https://github.com/BenMoat" target="_blank"><i class="fab fa-github text-light" style='font-size:15px'></i></a>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
