<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Ben's Mod Manager</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" runat="server" />
    <link rel="stylesheet" href="~/css/site.css" runat="server" />
    <link rel="stylesheet" href="~/css/tom-select.bootstrap5.css" runat="server" />

</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark border-bottom navbar-color">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Mods" asp-action="Index">Ben's Mod Manager</a>
            </div>
        </nav>
    </header>
    <div class="container bg-dark">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted align">
        <div class="container bg-dark text-light">
            &copy;
            <script>document.write(new Date().getFullYear())</script> · Ben's Mod Manager · <a class="text-light" href="https://github.com/BenMoat" target="_blank">Ben Moat</a>
            <a href="https://github.com/BenMoat" target="_blank"><i class="fab fa-github text-light" style='font-size:15px'></i></a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>