@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-light">Oof.</h1>
<h2 class="text-light">Are you sure that page exists?</h2>
<img src="~/images/null-car.png" class="card-img-top" alt="...">
