@model ForzaColourSearch.Models.Vehicle

@{ Layout = null; }

<form asp-action="AddOrEdit" asp-route-id="@Model.ID"
	  class="needs-validation row g-3" id="vehicleForm" novalidate
	  onclick="validation()"
	  onload="custVis()"
	  onsubmit="return jQueryAjaxPost(this);">
	<input type="hidden" asp-for="ID" />

	<div class="form-floating mb-3">
		<select asp-for="Mod"
				id="select-make"
				class="form-floating"
				list="list-language"
				required>
			<option selected disabled value=""></option>
		</select>
		<div class="invalid-feedback">
			Please choose a vehicle make. This can be typed and selected from the dropdown.
		</div>
		<!--Use ID from this input to parse the make as the default dropdown selection for editing a vehicle-->
		<input hidden asp-for="Mod" type="text" id="makeValue">
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			<input asp-for="Price" type="text"
				   class="form-control bg-dark text-light" id="colourName"
				   placeholder="Colour Name">
			<label asp-for="Price"
				   for="colourName"
				   class="text-light">
			</label>
		</div>
	</div>
	<div class="form-floating mb-3">
		<select asp-for="ModType"
				id="select-ModType"
				class="form-floating"
				list="list-language"
				required>
			<option selected disabled value=""></option>
		</select>
		<div class="invalid-feedback">
			Please choose a paint type. This can be typed and selected from the dropdown.
		</div>
		<!--Use ID from this input to parse the paint type as the default dropdown selection for editing a vehicle-->
		<input hidden asp-for="ModType" type="text" id="ModTypeValue">
	</div>
	<button type="submit" onclick="validation()" class="btn btn-default btn-outline-light">Submit</button>
</form>


@if (Model.ID != 0)
{
	<form asp-action="Delete" asp-route-id="@Model.ID"
      class="needs-validation row g-3" onsubmit="return jQueryAjaxDelete(this);">
		<input type="hidden" asp-for="ID" />
		<button type="submit" id="deleteBtn" class="btn btn-default btn-danger text-white">Delete</button>
	</form>
}


<!--Form Validation-->
<script>
	function validation() {
		(() => {
			'use strict';

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			const forms = document.querySelectorAll('.needs-validation');

			// Loop over them and prevent submission
			Array.prototype.slice.call(forms).forEach((form) => {
				form.addEventListener('submit', (event) => {
					if (!form.checkValidity()) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, true);
			});
		})();
	}
</script>