@model ForzaColourSearch.Models.Vehicle

@{ Layout = null; }

<form asp-action="Delete" asp-route-id="@Model.ID"
      class="row g-3" id="vehicleDeleteForm"
      onsubmit="return jQueryAjaxDelete(this);">
    <input type="hidden" asp-for="ID" />

    <div class="form-floating mb-3">
        <input asp-for="Mod" type="text"
               style="padding-top: 0rem; padding-bottom: 0rem; pointer-events: none;"
               class="form-control bg-dark text-light">
    </div>


    <div class="form-floating mb-3">
        <input asp-for="Price" type="text"
               style="padding-top: 0rem; padding-bottom: 0rem; pointer-events: none;"
               class="form-control bg-dark text-light">
    </div>

    <div class="form-floating mb-3">
        <input asp-for="ModType" type="text"
               style="padding-top: 0rem; padding-bottom: 0rem; pointer-events: none;"
               class="form-control bg-dark text-light">
    </div>
    <button type="submit" class="btn btn-danger text-white">Delete</button>

</form>