/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*-----Custom CSS file for modifying and overriding bootstrap elements-----*/
.navbar-color {
    background-color: #2c3034;
}

/**Table hover animation**/
table {
    table-layout: fixed;
    margin: auto;
    width: 100%;
}

td {
    transition: 0.25s;
    box-shadow: inset 0 0 0 2px;
}

tr:not(#headers):hover {
    background-size: 100% 100%;
    transform: scale(1.08,1.0);
    transform-origin: center;
    font-weight: bold;
    font-size: 17px;
    --bs-table-hover-bg: #157347;
    --bs-table-bg: #157347;
    --bs-table-striped-bg: #157347;
    z-index: 2;
    cursor: pointer;
}

/*Custom browser scroll bar to match the darker theme**/
::-webkit-scrollbar {
    height: 12px;
    width: 7px;
    background: #212529;
}

    ::-webkit-scrollbar-thumb {
        background: #7b7b7b;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgb(123, 123, 123);
    }

    .scrollable {
        max-width: 2000px;
        max-height: 100%;
        height: 450px;
        /* change ` overflow: scroll ` to ` overflow: auto ` if you only want vertical scroll */
        overflow: scroll;
    }

/**Main Search bar**/
#inlineSearch {
    padding-bottom: 25px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

    #inlineSearch .col {
        padding-right: 5px;
        padding-left: 5px;
    }

    #searchModName {
        height: 55px;
    }
    #searchModName::placeholder {
        color: white;
    }


.modal-header {
        cursor: grab;
    }

.btn-success {
    color: #fff;
    background-color: transparent;
    border-color: #22bf76;
}

    .btn-success:hover {
        color: #fff;
        background-color: #22bf76;
        border-color: #22bf76;
    }

.mods-header {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #2c3034;
}

.title-container {
    margin-top: 3% !important;
    margin-bottom: 5% !important;
}

.ouput-text-search-filter {
    text-decoration: none;
}

.text-nowrap.col-header {
    white-space: nowrap !important;
    margin: 115% !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-outline-add {
    color: lawngreen;
    border-color: lawngreen;
}

    .btn-outline-add:hover {
        color: #000;
        background-color: lawngreen;
        border-color: lawngreen;
    }

.btn-info {
    color: #0dcaf0;
    background-color: transparent;
    border-color: #0dcaf0;
}

.btn-danger {
    color: #dc3545;
    background-color: transparent;
    border-color: #dc3545;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
