html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-color {
    background-color: #2c3034;
}

.modsHeader {
    display: block;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: .3em;
    padding-bottom: .3em;
    background-color: #2c3034;
}

/*START:Global overrides*/
* {
    color: #fff;
}

    input, textarea{
        color: #fff !important;
        cursor: text !important;
    }
/*END:Global overrides*/

/*START:Main Search bar*/
#inlineSearch {
    padding-bottom: 25px;
}

    #inlineSearch .col {
        padding-right: 5px;
        padding-left: 5px;
    }

#searchModName {
    height: 55px;
}
    #searchModName::placeholder {
        color: #fff;
    }

    #searchModType {
        color: #fff;
    }
/*END:Main Search bar*/

/*START:Tom Select dropdown*/
.ts-wrapper.form-control,
.ts-wrapper.form-select {
    height: 55px !important;
}

.ts-control {
    cursor: text !important;
}

.ts-dropdown,
.option.active {
    background-color: #212529 !important;
    color: #fff;
}
    .option.active:hover {
        background-color: #2c3034 !important;
    }

.ts-control::selection {
    cursor: text !important;
}
    .ts-control ::placeholder {
        color: #fff !important;
    }
/*END:Tom Select dropdown*/

/*START: Mods table*/
thead {
    border-color: #fff;
    border-style: solid;
    border-width: 0;
}

tr:not(#headers):hover {
    background-size: 100% 100%;
    transform: scale(1.08,1.0);
    transform-origin: center;
    font-weight: bold;
    font-size: 17px;
    --bs-table-hover-bg: #157347;
    --bs-table-bg: #157347;
    --bs-table-striped-bg: #157347;
    z-index: 2;
    cursor: pointer;
}

a#sortColumns {
    color: #fff;
    text-decoration: none;
}

td {
    transition: 0.25s;
    box-shadow: inset 0 0 0 2px;
}

#containsPDF {
    color: #22bf76;
}

#noPDF {
    color: #bb2d3b;
}

.form-floating > label {
    left: unset !important;
}
    .form-floating.mb-3::before {
        background: #212529 !important;
        z-index: -2;
    }
/*END: Mods table*/

/*START: Mod modal*/
.modal-header {
    cursor: grab;
}

#dynamicNotes {
    overflow: hidden;
    scroll-behavior: unset;
    resize: none;
}

/*END: Mods modal*/

/*START: Buttons*/
.btn-success {
    color: #fff;
    background-color: transparent;
    border-color: #22bf76;
}

    .btn-success:hover {
        color: #fff;
        background-color: #22bf76;
        border-color: #22bf76;
    }

.btn-info {
    color: #fff;
    background-color: transparent;
    border-color: #0dcaf0;
}
    .btn-info:hover {
        color: #fff;
        background-color: #0dcaf0;
        border-color: #0dcaf0;
    }

.btn-danger {
    color: #fff;
    background-color: transparent;
    border-color: #dc3545;
}
    .btn-danger:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
/*END: Buttons*/

/*Sticky footer styles*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}