@model BensModManager.Models.Mod

@{
    Layout = null;
}

<form asp-action="AddOrEdit" asp-route-id="@Model.ID"
      class="needs-validation row g-3" novalidate
      onclick="validation()"
      enctype="multipart/form-data"
      onsubmit="return jQueryAjaxPost(this);">
    <input type="hidden" asp-for="ID" />

    <div class="form-floating mb-3">
        <input asp-for="ModName" type="text"
               class="form-control bg-dark"
               placeholder="Mod Name"
               required
               data-prefix="R$ ">
        <label asp-for="ModName"></label>
        <div class="invalid-feedback">
            Please input the name of the mod.
        </div>
    </div>

    <div class="col-5">
        <div class="form-floating mb-3">
            <input asp-for="Price" type="text"
                   id="price"
                   class="form-control bg-dark"
                   placeholder="Price"
                   required
                   data-prefix="£">
            <label asp-for="Price"></label>
            <div class="invalid-feedback">
                Please input the financial mistake.
            </div>
        </div>
    </div>

    <div class="col">
        <div class="form-floating mb-3">
            <select asp-for="ModType"
                    id="selectModType"
                    class="form-select bg-dark"
                    placeholder="Mod Type"
                    list="list-language"
                    required>
                <option selected disabled value=""></option>
            </select>
            <div class="invalid-feedback">
                Please choose a Mod type. This can be typed and selected from the dropdown.
            </div>
            <!--Use ID from this record to populate the dropdown selection-->
            <input hidden asp-for="ModType" type="text" id="ModTypeValue">
        </div>
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Notes" rows="1" id="dynamicNotes"
                  class="form-control bg-dark"
                  placeholder="Notes">
        </textarea>
        <label asp-for="Notes"></label>
    </div>

    <div class="col">
        <div class="form-check">
            <input asp-for="Obsolete" type="checkbox"
                   class="form-check-input">
            <label asp-for="Obsolete"
                   class="form-check-label">
                Obsolete
            </label>
        </div>
    </div>

    <!--Retain file if one is already selected-->
    <input hidden asp-for="FileName" type="text">
    <input hidden asp-for="FileExtension" type="text">
    <input hidden asp-for="FilePath" type="text">
    <input hidden asp-for="FileType" type="text">

    @if (Model.FileName == null)
    {
        <div class="col">
            <div class="form-floating mb-3">
                <input type="file" name="files" multiple />
            </div>
        </div>
    }

    @if (Model.FileName != null)
    {
        <button type="button"
                title="View the invoice attached to this mod"
                class="btn btn-default btn-info"
                onclick="invoicePopup('@Url.Action("Invoice","Mods",new {id=@Model.ID},Context.Request.Scheme)','Mod Invoice')">
            View Invoice
        </button>
    }

    <button type="submit"
            title="Submit this mod to the database"
            class="btn btn-success"
            onclick="validation();">
        Submit
    </button>

    <div id="loader-wrapper" style="display: none;">
        <div id="loader"></div>
        <h3 id="loaderCaption">processing mod...</h3>
    </div>

    <!--If this is an existing record, append the Delete and View Invoice button-->
    @if (Model.ID != 0)
    {
        <button type="button"
                title="Permanently delete this mod"
                class="btn btn-default btn-danger"
                onclick="deletePopup('@Url.Action("DeleteMod","Mods",new {id=@Model.ID},Context.Request.Scheme)','Delete Mod')">
            Delete
        </button>
    }
</form>

<script>
    //Apply jQuery maskMoney to Price
    $('#price').maskMoney();

    //Remove the default '0' from the Price
    if ($('#price').val() == '£0.00') {
        $('#price').val("")
    }

    //Form Validation
    function validation() {
        (() => {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms).forEach((form) => {
                form.addEventListener('submit', (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');

                    //Remove currency symbol from Price on Submit
                    var input = document.getElementById('price')
                    input.value = input.value.replace("£", "");
                }, true);
            });
        })();
    }
</script>