@model BensModManager.Models.Mod

@{ Layout = null; }

<form asp-action="DeleteInvoice" asp-route-id="@Model.ID"
      class="row g-3"
      onsubmit="return jQueryAjaxPost(this);">
    <input type="hidden" asp-for="ID" />
    <h3 class="text-center">Are you sure you want to delete the <b>@Model.ModName</b> invoice?</h3>
    <div class="btn-group gap-2">

        <button type="button" title="Return to the previous screen" 
                class="btn btn-default btn-outline-light"
                onclick="invoicePopup('@Url.Action("Invoice","Mods",new {id=@Model.ID},Context.Request.Scheme)','Mod Invoice')">
            &#8592; Back
        </button>

        <button type="submit" title="Delete this invoice from the file system" 
                class="btn btn-danger">Delete
        </button>

    </div>
</form>