@model BensModManager.Models.Mod

@{ Layout = null; }

<form asp-action="DeleteMod" asp-route-id="@Model.ID"
      class="row g-3"
      onsubmit="return jQueryAjaxDelete(this);">
    <input type="hidden" asp-for="ID" />

    <h3 class="text-center text-white">Are you sure you want to delete the <b>@Model.ModName</b> mod?</h3>

    <button type="submit" class="btn btn-danger text-white">Delete</button>

    <button type="button" class="btn btn-default btn-outline-light" 
        onclick="modPopup('@Url.Action("AddOrEdit","Mods",new {id=@Model.ID},Context.Request.Scheme)','Update Mod')">
        Cancel
    </button>
</form>