@model BensModManager.Models.Mod

@{ Layout = null; }




<form asp-action="Delete" asp-route-id="@Model.ID"
      class="row g-3"
      onsubmit="return jQueryAjaxDelete(this);">
    <input type="hidden" asp-for="ID" />

    <h3 class="text-white">Are you sure you want to delete this mod?</h3>

    <button type="submit" class="btn btn-danger text-white">Delete</button>

</form>

<button type="submit" class="btn btn-default btn-outline-light" onclick="showInPopup('@Url.Action("AddOrEdit","Mods",new {id=@Model.ID},Context.Request.Scheme)','Update Mod')">Cancel</button>